version: '3.5'
services:
  localstack:
    image: localstack/localstack
    ports:
      - "4567-4597:4567-4597"
      - "${PORT_WEB_UI-8080}:${PORT_WEB_UI-8080}"
    environment:
      - SERVICES=ec2,lambda,iam
      - DEBUG=1
      - DATA_DIR=${DATA_DIR- }
      - PORT_WEB_UI=${PORT_WEB_UI- }
      - LAMBDA_EXECUTOR=${LAMBDA_EXECUTOR- }
      - KINESIS_ERROR_PROBABILITY=${KINESIS_ERROR_PROBABILITY- }
      - DOCKER_HOST=unix:///var/run/docker.sock
    volumes:
      - "${TMPDIR:-/tmp/localstack}:/tmp/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
  terraform:
    build: .
    image: terraform:test
    command: ["apply", "-auto-approve"]
    depends_on:
      - "localstack"
  gct:
    image: gcr.io/gcp-runtimes/container-structure-test:latest
    command: ["test", "--image", "terraform:test", "--config", "tests/config.yaml"]
    volumes:
      - "./tests:/tests/"
      - "/var/run/docker.sock:/var/run/docker.sock"
    depends_on:
      - terratest
  
